.form-container {
   width: 40%;
   display: flex;
   flex-direction: column;

   .form__title {
      font-size: 30px;
      padding-bottom: 20px;
      margin-bottom: 5px;
   }

   .form {
      width: 93%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border-radius: 10px;
      background-color: rgb(247, 247, 247);
      box-shadow: 0px 3px 8px 0px rgba(201, 201, 201, 1);

      label {
         width: 100%;
         text-align: left;
         font-size: 14px;
         font-weight: 700;
      }

      .form__product-name,
      .form__product-color,
      .form__product-price {
         width: 100%;
         height: 35px;
         font-family: "Roboto", sans-serif;
         color: rgb(101, 101, 101);
         padding-left: 5px;
         margin-bottom: 30px;
         border-radius: 7px;
         border: 2px solid rgb(223, 222, 222);
         outline: none;
      }

      .form__product-name::placeholder,
      .form__product-color::placeholder,
      .form__product-price::placeholder {
         line-height: 35px;
         font-size: 14px;
         font-style: italic;
         color: rgb(172, 172, 172);
      }

      .form__product-price::-webkit-inner-spin-button,
      .form__product-price::-webkit-outer-spin-button {
         -webkit-appearance: none;
         margin: 0;
      }

      .form__product-category {
         width: 100%;
         height: 35px;
         font-family: "Roboto", sans-serif;
         color: rgb(101, 101, 101);
         margin-bottom: 30px;
         border-radius: 5px;
         border: 1px solid rgb(223, 222, 222);
         outline: none;
      }
   }
}
