.header {
   height: fit-content;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 0 60px;
   color: #fff;
   background-color: rgb(0, 0, 43);

   .logo-container {
      height: fit-content;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;

      .header__logo {
         width: 40px;
         color: #fff;
         margin: 0 10px;
      }

      .header__title {
         font-size: 1.1rem;
         font-weight: 700;
      }
   }

   .menu-container {
      width: 10%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .header__message {
         font-size: 0.8rem;
         font-weight: 400;
         white-space: nowrap;
      }

      .header__open-menu {
         color: #fff;
         border: 0;
         background-color: transparent;
         cursor: pointer;
      }

      .header__menu {
         width: 120px;
         height: 100%;
         display: flex;
         flex-direction: column;
         align-items: end;
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         border-left: 2px solid #d3d3d3a2;
         background-color: rgb(0, 0, 43);
         box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);

         .header__close-menu {
            color: #d3d3d3a2;
            border: 0;
            background-color: transparent;
            cursor: pointer;

            .x-button {
               font-size: 24px;
            }
         }
      }

      .header__menu ul {
         display: flex;
         flex-direction: column;
         list-style: none;
         cursor: pointer;
      }

      .header__menu li {
         width: 120px;
         text-align: right;
         padding-right: 10px;
         padding-top: 10px;
         padding-bottom: 10px;
      }

      .header__menu li:hover {
         width: cover;
         background-color: gray;
      }
   }
}
