.dot-spinner {
   --uib-size: 2.8rem;
   --uib-speed: 0.9s;
   --uib-color: #183153;
   position: relative;
   display: flex;
   align-items: center;
   top: 150px;
   height: var(--uib-size);
   width: var(--uib-size);

   .dot-spinner__dot {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      width: 100%;
   }

   .dot-spinner__dot::before {
      content: "";
      height: 20%;
      width: 20%;
      border-radius: 50%;
      background-color: var(--uib-color);
      transform: scale(0);
      opacity: 0.5;
      animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
      box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
   }

   .dot-spinner__dot:nth-child(2) {
      transform: rotate(45deg);
   }

   .dot-spinner__dot:nth-child(2)::before {
      animation-delay: calc(var(--uib-speed) * -0.875);
   }

   .dot-spinner__dot:nth-child(3) {
      transform: rotate(90deg);
   }

   .dot-spinner__dot:nth-child(3)::before {
      animation-delay: calc(var(--uib-speed) * -0.75);
   }

   .dot-spinner__dot:nth-child(4) {
      transform: rotate(135deg);
   }

   .dot-spinner__dot:nth-child(4)::before {
      animation-delay: calc(var(--uib-speed) * -0.625);
   }

   .dot-spinner__dot:nth-child(5) {
      transform: rotate(180deg);
   }

   .dot-spinner__dot:nth-child(5)::before {
      animation-delay: calc(var(--uib-speed) * -0.5);
   }

   .dot-spinner__dot:nth-child(6) {
      transform: rotate(225deg);
   }

   .dot-spinner__dot:nth-child(6)::before {
      animation-delay: calc(var(--uib-speed) * -0.375);
   }

   .dot-spinner__dot:nth-child(7) {
      transform: rotate(270deg);
   }

   .dot-spinner__dot:nth-child(7)::before {
      animation-delay: calc(var(--uib-speed) * -0.25);
   }

   .dot-spinner__dot:nth-child(8) {
      transform: rotate(315deg);
   }

   .dot-spinner__dot:nth-child(8)::before {
      animation-delay: calc(var(--uib-speed) * -0.125);
   }

   @keyframes pulse0112 {
      0%,
      100% {
         transform: scale(0);
         opacity: 0.5;
      }

      50% {
         transform: scale(1);
         opacity: 1;
      }
   }
}

.table-container {
   width: 98%;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   padding-left: 50px;
   padding-right: 25px;
   align-items: center;

   .presentation {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .presentation__title {
         font-size: 30px;
      }

      .presentation__add-button {
         width: 65px;
         height: 40px;
         font-family: "Roboto", sans-serif;
         font-size: 16px;
         font-weight: 700;
         color: #fff;
         border: none;
         border-radius: 4px;
         background-color: rgb(94, 143, 235);
         cursor: pointer;
      }
   }

   .table__empty-products {
      height: 400px;
      line-height: 400px;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      font-style: italic;
      margin-top: 25px;
      color: rgb(172, 172, 172);
   }

   .table {
      width: 100%;
      margin-top: 20px;

      .products-table {
         width: 100%;
         font-size: 14px;
         border-collapse: collapse;
         border-spacing: 0;
         box-shadow: 0px 3px 8px 0px rgba(201, 201, 201, 1);
         border-radius: 10px;
      }

      .products-table thead {
         height: fit-content;
         border-radius: 50px;
         background-color: rgb(247, 247, 247);
      }

      .products-table thead th {
         width: calc(50% / 3);
         text-align: center;
         font-size: 16px;
         font-weight: 900;
      }
      .products-table thead th:first-child {
         width: 27.5%;
         text-align: start;
         font-weight: 900;
         padding: 20px 15px;
         padding-left: 30px;
         border-top-left-radius: 10px;
      }

      .products-table thead th:last-child {
         width: 22.5%;
         border-top-right-radius: 10px;
      }

      .products-table tbody tr {
         text-align: center;
         color: rgb(101, 101, 101);
         padding: 15px;
         border-bottom: solid 1px rgb(223, 222, 222);
         cursor: pointer;
      }

      .products-table tbody tr:hover {
         background: rgba(211, 211, 211, 0.715);
      }

      .products-table tbody tr td {
         padding: 15px;
      }

      .products-table tbody tr:last-child {
         border-bottom: none;
      }

      .products-table tbody tr td:first-child {
         text-align: start;
         font-weight: 700;
         color: rgb(32, 32, 32);
         padding-left: 30px;
      }

      .products-table tbody tr td:last-child {
         text-align: end;
         padding-right: 30px;
      }

      .products-table__edit-button,
      .products-table__delete-button {
         font-family: "Roboto", sans-serif;
         font-size: 18px;
         font-weight: 700;
         color: rgb(94, 143, 235);
         margin: 2px;
         border: none;
         background-color: transparent;
         cursor: pointer;
      }
   }
}
